
<div class="container">
    <div class="row">
        <button class="btn btn-primary">添加新用户</button>
    </div>
</div>
<hr />
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>操作</th>
            <th>用户名</th>
            <th>用户类型</th>
            <th>状态</th>
            <th>权限</th>
            <th>所属部门</th>
            <th>注册时间</th>
            <th>备注</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <button class="btn btn-warning">修改</button>
                <button class="btn btn-success">授权</button>
                <button class="btn btn-danger">停用</button>
            </td>
            <td>Item 1</td>
            <td>$1</td>
            <td>1</td>
            <td>Item 1</td>
            <td>$1</td>
            <td>1</td>
            <td>Item 1</td>
        </tr>
    </tbody>
</table>