<h1><%= user.username %> || <%= user.email %> || <%= user.mobilePhoneNumber %></h1>
<form action="/user/addUser" method="POST" class="form-addUser">
	<button>添加角色</button>

	<button disabled="disabled">添加员工</button>
</form>