footer{
	text-align: center;
}

.addUserForm input.rightValue, input.depName{
	width: auto !important;
	float: left;
	padding-right: 36px;
}
.btn-group-right{
	padding-left: 10px;
}
.addUserForm{
	display: none;
	background-color: white;
	width: 600px;
	padding: 36px;
	border-radius: 10px;
}